@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #303133;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 w-full bg-[#F5F7F9];
  /* background: linear-gradient(180deg, #d9f6ff 9%, #ffffff 100%)  */
}

body.white {
  @apply m-0 w-full;
  background: #ffffff;
}

#app {
  @apply mx-auto my-0 max-w-[1280px] box-border;
}
